body
   {
        background-color: #85defc;
   }
    h1
    {
        text-align: center;
        font-family: Arial Black;
        font-size: 60px;
        color: white;
        background-color: #6757d1;
    } 
    p
    {
        color: black;
        font-family: Trebuchet MS;
        font-size: 100%;
        text-align: justify;
        margin-right: 10em;
        clear: right;
    }
    .quote
    {
        padding: 1em;
        border: 1px;
        margin: 1em;
        font-family: Trebuchet MS;
        color: #5347a1;
    }
    h4
    {
        background-color: #6757d1;
        color: white;
        font-family: Arial;
        padding: 4px;
        text-align: center;
    }
    img
    {
        margin-left: 9em;
        padding: 1em;
        float: left;
    }
    table
    {
       border: 1px solid blue;
       width: 50%;
       border-collapse: collapse;
       text-align: center;
       margin-left: 18em;
    }
    ul, li
    {
       font-family: Trebuchet MS;
       color: #6757d1;
       list-style-type: none;
    }
    table {
        padding: 10%;
        background-color: #6757d1;
        overflow: hidden;
        color: white;
        width: 30%
    }
    tr {
        float: clear;
       }
    a.link:hover {background-color: #a79aff, color: black;}
    a.link:visited {background-color: #a79aff, color: black;}
    .img {
        transform: rotate(360deg);
        display: flex;
    }
    .img2 {
        transform: rotate(360deg);
        display: flex
    }
    .img:hover {
        transform: rotate(180deg) scale(1.5);
        transition: width 6s, ease-in-out 0.2s;
    }
    .img2:hover {
        transform: rotate(180deg) scale(1.5);
        transition: width 6s, ease-in-out 0.2s;
    }
    .spriteA {
        background: url('elements/socmed.png') no-repeat -182px -37px;
        width: 29px;
        height: 29pixels;
        float: right;
    }
